extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

      
        h1 Tyler Marsh

       
        p.lead.text-light
          | Full Stack JavaScript Developer.

     
        .portfolio-bio
          p
            | Hi, I'm Tyler, and I come from a background in philosophy. After taking MIT's intro to computer science MOOC I've been hooked to coding.
            | This site is my 6th project in teamtreehouse's full-stack javascript program.
            | My career goals include developing mobile and web apps that are user-friendly in cooperative teams.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Object-Oriented Programming in Javascript and Python
          li AJAX from XML through async - await
          li react.js
          li SQL
          li database design
          li node.js
          li HTML
          li CSS
          li web-scraping
          li sequelize ORM
    
        h6 Contact Info

        ul
          li marsh.tyler5@gmail.com

 
        a.button.expanded(href='https://www.linkedin.com/in/tyler-marsh-a99139188/') LinkedIn
        a.button.expanded(href='https://github.com/dreadgreaves') Developer GitHub
        a.button.expanded(href="https://github.com/TylerOMarsh") Data-science GitHub
        //- a.button.expanded(href='') Twitter don't have a professional twitter yet
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  